.form-login{
 	    background: greenyellow;
        border-radius: 10px;
        padding: 20px;
        border: 3px solid #ddd;
 }
 .form-register{
 	    background: aquamarine;
 	    border-radius: 10px;
 	    padding: 20px; 
 	    border: 3px solid #ddd;
 }
 .image-profile{
 	    background: #5b6166;
         height: auto;
         color: #fff;
 }
 table.table.table-hover
 { width:50%; 

 }
table.table.table-hover tr td
{
 width:25%; 
}
